@use '../../../../app/styles/modules' as *;

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 361px);
  justify-content: center;
  margin: 24px 0 80px 0;
}

.item {
  width: 361px;
  height: 344px;
  padding: 16px;
  border: 1px solid $co-black;
}

.link {
  text-decoration: none;
}

@include tablet {
  .list {
    grid-template-columns: repeat(auto-fill, 377px);
    margin: 48px 0 80px 0;
  }

  .item {
    width: 377px;
    height: 377px;
  }
}

@include desktop {
  .list {
    grid-template-columns: repeat(auto-fill, 344px);
    margin: 48px 0 147px 0;
  }

  .item {
    width: 344px;
    height: 344px;
  }
}
