@use '../../../app/styles/modules' as *;

.list {
  margin-bottom: 40px;
  max-width: 92vw;
  margin-top: 80px;
}

.title {
  @include font($fs: rem(20px), $fw: $fw-small, $co: $co-black, $lh: rem(20px));
  text-transform: uppercase;
  margin-bottom: 40px;
}

.link {
  text-decoration: none;
}

.item {
  border: 1px solid $co-black;
  border-left: 0;
}

// Overwriting the default styles of Swiper

:global(.swiper-slide:first-child) {
  .item {
    border-left: 1px solid $co-black;
  }
}

:global(.swiper .swiper-wrapper) {
  height: 334px;
}

:global(.swiper .swiper-wrapper .swiper-slide) {
  height: 377px;
  width: 377px;
}

@include tablet {
  :global(.swiper .swiper-wrapper .swiper-slide) {
    height: 361px;
    width: 344px;
  }

  .list {
    margin-top: 88px;
  }
}

@include desktop {
  :global(.swiper .swiper-wrapper .swiper-slide) {
    height: 344px;
    width: 344px;
  }

  .list {
    margin-top: 154px;
  }
}

:global(.swiper-horizontal > .swiper-wrapper + .swiper-scrollbar) {
  background: $co-gray-300;
  height: 1px;
  border-radius: 0;
}
:global(.swiper-horizontal > .swiper-wrapper + .swiper-scrollbar-drag) {
  background: $co-black;
  border-radius: 0;
}
