@use '../../../../app/styles/modules' as *;

.wrapper {
  max-width: 1200px;
  margin: 50px auto 80px auto;
}

.error {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  @include font($fs: rem(16px), $fw: $fw-small, $co: $co-red, $lh: rem(16px));
}

@include tablet {
  .wrapper {
    margin: 50px auto 80x auto;
  }
}

@include desktop {
  .wrapper {
    margin: 110px auto 147px auto;
  }
}
