@use '../../../app/styles/modules' as *;

.form {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid $co-black;
}

.label {
  visibility: hidden;
  height: 0;
}

.input {
  flex: 1;
  padding: 20px 0;
  background: none;
  border: 0;
  outline: none;

  &::-webkit-search-cancel-button {
    appearance: none;
  }
}

.clear {
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
  line-height: 1;
}
