@use '../../../app/styles/modules' as *;

.form {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid $co-black;
}

.label {
  visibility: hidden;
  width: 0;
  height: 0;
  display: block;
}

.searcher {
  @include font(
    $fs: rem(16px),
    $fw: $fw-small,
    $co: $co-gray-400,
    $lh: rem(16px)
  );
  width: 100%;
  padding: 8px 0;
  background: none;
  border: 0;
  outline: none;

  &::-webkit-search-cancel-button {
    appearance: none;
  }
}

.hasValue {
  @include font($co: $co-black);
}

.clear {
  padding: 0;
  background: none;
  border: 0;

  &:hover {
    cursor: pointer;
  }
}
