@use '../../../app/styles/modules' as *;

.fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.legend {
  @include font($fs: rem(12px), $fw: $fw-small, $co: $co-black, $lh: rem(12px));
  text-transform: uppercase;
  margin-bottom: 22px;
}

.list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

@include desktop {
  .legend {
    @include font($fs: rem(14px), $lh: rem(14px));
    margin-bottom: 24px;
  }
}
