@use '../../../../app/styles/modules.scss' as *;

.container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  @include font($fs: rem(16px), $fw: $fw-small, $co: $co-black, $lh: rem(16px));
}
