@use '../../../app/styles/modules' as *;

.wrapper {
  margin-top: 110px;
  max-width: 1200px;
  margin: 0 auto;
}

.error {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  @include font($fs: rem(16px), $fw: $fw-small, $co: $co-red, $lh: rem(16px));
}
