@use '../../../../app/styles/modules' as *;

.searchWrapper {
  position: sticky;
  top: $header-height;
  z-index: 5;
  background: $co-white;
  padding-bottom: 16px;
}

.error {
  margin-top: 20px;
  @include font($fs: rem(16px), $fw: $fw-small, $co: $co-red, $lh: rem(16px));
}
