@use '../../../../app/styles/modules' as *;

.button {
  appearance: none;
  background: none;
  border: 0;
  padding: 1px;
  width: 20px;
  height: 20px;
  margin-right: 16px;
  outline: 1px solid $co-gray-300;
  outline-offset: 2px;

  &:hover {
    outline: 1px solid $co-black;
    outline-offset: 2px;
    cursor: pointer;
  }
}

.selected {
  outline: 1px solid $co-black;
  outline-offset: 2px;
}

.selectedName {
  @include font($fs: rem(10px), $fw: $fw-small, $co: $co-black, $lh: rem(10px));
  margin-top: 8px;
  height: 10px;
}

@include tablet {
  .selectedName {
    @include font($fs: rem(12px), $lh: rem(12px));
    height: 12px;
  }
}

@include desktop {
  .selectedName {
    @include font($fs: rem(10px), $lh: rem(10px));
    height: 10px;
  }
}
