@use '../../../../app/styles/modules' as *;

.card {
  padding: 15px;
  height: 377px;
  width: 377px;
}

.imageWrapper {
  width: 100%;
}

.image {
  width: 100%;
  object-fit: contain;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.brand {
  @include font($fs: rem(10px), $fw: $fw-small, $co: $co-gray, $lh: rem(10px));
  text-transform: uppercase;
  margin-bottom: 4px;
}

.name,
.price {
  @include font($fs: rem(12px), $fw: $fw-small, $co: $co-black, $lh: rem(12px));
  text-transform: uppercase;
}

@include tablet {
  .card {
    height: 377px;
    width: 377px;
  }
}

@include desktop {
  card {
    height: 344px;
    width: 344px;
  }
}
