@use '../../../app/styles/modules' as *;

.cart {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title {
  @include font($fs: rem(20px), $fw: $fw-small, $co: $co-black, $lh: rem(20px));
  text-transform: uppercase;
  margin-bottom: 32px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;
}

.footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.continueLink {
  @include font($fs: rem(12px), $fw: $fw-small, $co: $co-black, $lh: rem(16px));
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 8%;
  padding: 20px 32px;
  border: 1px solid $co-black;
  background: $co-white;
}

.total {
  @include font($fs: rem(14px), $fw: $fw-small, $co: $co-black, $lh: rem(16px));
  display: flex;
  gap: 16px;
}
